.controls-container {
  display: block;
  justify-content: center;
  padding: 10px;
}

.recorder-display {
  width: 100%;
  display: grid;
  align-items: center;
  font-size: 2rem;
}

.recording-indicator {
  width: 10px;
  height: 10px;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: #099fff;
  animation-name: animated-block;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.recording-time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button,
.cancel-button {
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.control-button-container {
  width: 100%;
  margin-top: 5px;
  position: relative;
  display: flex;
}

/* Cancel btn */

.cancel-button {
  width: 50px;
  height: 50px;
}

.cancel-button-container {
  display: table;
  margin: 0 auto;
  position: relative;
  animation-name: animated-block;
  animation-duration: 2s;
}

.cancel-button:hover {
  color: #fd1c03;
}

/* Start btn */

.start-button {
  width: 40px;
  height: 40px;
}

.start-button-container,
.save-button-container {
  display: table;
  margin: 0 auto;
  position: relative;
}

.start-button:hover {
  color: #41295a;
  background-color: #f2ea02;
}
