
.react-pdf__Page {
    margin-top: 10px;
}

.react-pdf__Page__textContent {
    border: .5px solid rgb(188, 187, 187);
    box-shadow: 2px 2px 2px 1px rgb(226, 225, 225);
    border-radius: 3px;
}

.react-pdf__Page__annotations.annotationLayer {
    padding: 20px;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
}

.document-container {
    margin-top: 30px;
    height: 100%;
    max-height: 600px;
    overflow: auto;
  }