.top-part {
  height: auto;
  width: 100%;
}

/*  Recorder  */

.recorder-title {
  margin: 40px auto 15px auto;
  color: #888888a9;
}

.voice-recorder {
  margin: 5px auto 40px auto;
}

/*  Icon  */

.icon {
  font-size: 1.6em;
}

.icon-container {
  width: 32px;
  margin: 0 15px 0 0;
  position: relative;
}

/*  Lists  */

li.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list {
  display: grid;
  justify-content: center;
  padding: 16px 0px 0px 0px;
}

.list-container {
  margin: 20px 30px auto 30px;
  padding: 10px;
  box-shadow: 1px 1px 10px #888888;
  border-radius: 15px;
}

.text-list {
  width: 100%;
  margin-top: 5px;
  position: relative;
  display: flex;
}

/*  Media Calls  */

@media only screen and (min-width: 1200px) {
  .list-container {
    margin: 20px 120px 0px 120px;
  }
}

@media only screen and (max-width: 990px) {
  .icon-container {
    margin: 0px 15px;
  }
  .text-container {
    padding-right: 5px;
  }
}
