.top-part {
  height: auto;
  width: 100%;
}

.list {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.shadowing {
  min-height: 100%;
  /* background-image: linear-gradient(
    -180deg,
    rgba(202, 202, 202, 0.21) 0%,
    rgba(202, 202, 202, 0.03) 77%,
    rgba(155, 154, 155, 0.04) 100%
  ); */
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recorder-title {
  margin: 40px auto 15px auto;
  color: #888888a9;
}

.list-container {
  margin: 20px 5px auto 5px;
  padding: 10px;
  box-shadow: 1px 1px 10px #888888;
  border-radius: 15px;
}
.voice-recorder {
  margin: 5px auto 40px auto;
}

.center {
  display: table;
  margin: 0 auto;
}

.icon {
  font-size: 1.6em;
}

.icon-container {
  display: table;
  margin: 0px 15px;
  position: relative;
}

.text-list {
  width: 100%;
  margin-top: 5px;
  position: relative;
  display: flex;
}

li.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
